.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.card-content > div {
    margin-bottom: 8px;
}
.card-content > div:last-child {
    margin-bottom: 0;
}

.entity-spacing:first-child {
    margin-top: 0;
}
.entity-spacing:last-child {
    margin-bottom: 0;
}

.entity-row {
    display: flex;
    align-items: center;
}
.entity-row .name {
    flex: 1;
    margin: 0 6px;
}
.entity-row .secondary {
    color: var(--primary-color);
}
.entity-row .icon {
    flex: 0 0 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}


.days {
    display: flex;
    
}
.day {
    display: flex;
    flex-direction: column;
}

.dayheader {
    font-weight: bold;
    text-align: center;
    width: 70px;
    color: var(--sidebar-selected-icon-color);
}
.hourheader {
    width: 40px;
    color: var(--sidebar-selected-icon-color);
}
.hours {
    color: var(--sidebar-selected-icon-color);
}
.daydate {
    font-size: x-small;
    opacity: 0.5;
    text-align: center;
    color: var(--sidebar-selected-icon-color);
}

.lessons {
    display: flex;
    flex-direction: column;
}

.lessonheader {
    text-align: center;
    height: 15px;
}
.lessonheaderinactive {
    text-align: center;
    height: 15px;
    opacity: 0.1;
}
.hourheader {
    text-align: center;
    height: 15px;
    color: var(--sidebar-selected-icon-color);
    width: 70px;
}
.hourheaderinactive {
    text-align: center;
    height: 15px;
    color: var(--sidebar-selected-icon-color);
    opacity: 0.1;
}


.teacher {
    font-size: x-small;
    text-align: center;
    opacity: 0.5;
    padding-bottom: 10px;
}
.teacherinactive {
    font-size: x-small;
    text-align: center;
    opacity: 0.1;
    padding-bottom: 10px;
}
.hourend {
    font-size: x-small;
    text-align: center;
    opacity: 0.5;
    padding-bottom: 10px;
    color: var(--sidebar-selected-icon-color);
}
.hourendinactive {
    font-size: x-small;
    text-align: center;
    opacity: 0.1;
    padding-bottom: 10px;
    color: var(--sidebar-selected-icon-color);
}
.next {
    align-items: flex-end;
    color: var(--sidebar-selected-icon-color);
    cursor: pointer;
}
.last {
    align-items: flex-end;
    color: var(--sidebar-selected-icon-color);
    cursor: pointer;
}

.cardTitle {
    width: 80%;
}