.webuntiscard {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
}

.card-content > div {
    margin-bottom: 8px;
}
.card-content > div:last-child {
    margin-bottom: 0;
}

.entity-spacing:first-child {
    margin-top: 0;
}
.entity-spacing:last-child {
    margin-bottom: 0;
}

.entity-row {
    display: flex;
    align-items: center;
}
.entity-row .name {
    flex: 1;
    margin: 0 6px;
}
.entity-row .secondary {
    color: var(--primary-color);
}
.entity-row .icon {
    flex: 0 0 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}


.days {
    display: flex;
    
}
.day {
    display: flex;
    flex-direction: column;
}
.currentDay {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.2);
}

.dayheader {
    font-weight: bold;
    text-align: center;
    min-width: 60px;
    color: var(--sidebar-selected-icon-color);
    height: 15px;
}
.hourheader {
    width: 40px;
    color: var(--sidebar-selected-icon-color);
}
.hours {
    color: var(--sidebar-selected-icon-color);
    padding-left: 5px;
    padding-right: 5px;
}
.daydate {
    font-size: x-small;
    opacity: 0.5;
    text-align: center;
    color: var(--sidebar-selected-icon-color);
}

.lessons {
    display: flex;
    flex-direction: column;
}
.lessoncancelled {
    text-decoration: line-through;
}

.lessonheader {
    text-align: center;
    height: 15px;
}
.lessonheaderinactive {
    text-align: center;
    height: 15px;
    opacity: 0.1;
}
.hourheader {
    text-align: center;
    height: 15px;
    color: var(--sidebar-selected-icon-color);
    width: 35px;
}
.hourheaderinactive {
    text-align: center;
    height: 15px;
    color: var(--sidebar-selected-icon-color);
    opacity: 0.1;
}


.teacher {
    font-size: x-small;
    text-align: center;
    opacity: 0.5;
    padding-bottom: 10px;
}
.teacherinactive {
    font-size: x-small;
    text-align: center;
    opacity: 0.1;
    padding-bottom: 10px;
}
.hourend {
    font-size: x-small;
    text-align: center;
    opacity: 0.5;
    padding-bottom: 10px;
    color: var(--sidebar-selected-icon-color);
}
.hourendinactive {
    font-size: x-small;
    text-align: center;
    opacity: 0.1;
    padding-bottom: 10px;
    color: var(--sidebar-selected-icon-color);
}
.next {
    align-items: flex-end;
    color: var(--sidebar-selected-icon-color);
    cursor: pointer;
    flex-grow: 1;
}
.last {
    align-items: flex-end;
    color: var(--sidebar-selected-icon-color);
    cursor: pointer;
    flex-grow: 1;
}

.cardTitle {
    flex-grow: 2;
}
.notificationbadge {
    flex-grow: 1;
    display: flex;
}
.badge {
    padding: 3px 6px;
    color: white;
    font-size: smaller;
}

.homework {
    display: table;
}
.homeworkRow {
    padding: 5px;
    border: 1px solid #00aaf4;
    margin: 5px;
    border-radius: 8px;
    display: flex;
}

.homeworkDate {
    color: var(--sidebar-selected-icon-color);
    display: flex;
    flex-direction: row;
}
.homeworkLesson {
    color: var(--sidebar-selected-icon-color);
    font-size: large;
    text-align: center;
}
.homeworkDueDate {
    color: var(--sidebar-selected-icon-color);
    text-align: center;
}
.homeworkDateCol {
    color: var(--sidebar-selected-icon-color);
    width: 20%;
    flex-direction: column;
}
.homeworkTextCol {
    display: flex;
    width: 80%;
    flex-direction: column;
}
.homeworkTextContent {
    flex-direction: column;
}

.klausuren {
    display: table;
}
.klausurenRow {
    padding: 5px;
    border: 1px solid #f40000;
    margin: 5px;
    border-radius: 8px;
    display: flex;
}

.klausurenDate {
    color: #f40000;
    display: flex;
    flex-direction: row;
}
.klausurenLesson {
    color: #f40000;
    font-size: large;
    text-align: center;
}
.klausurenDueDate {
    color: #f40000;
    text-align: center;
}
.klausurenDateCol {
    color: #f40000;
    width: 20%;
    flex-direction: column;
}
.klausurenTextCol {
    display: flex;
    width: 80%;
    flex-direction: column;
}
.klausurenTextContent {
    flex-direction: column;
}